<!DOCTYPE HTML>

<html>
	<head>
	    <title>Crawling@Home</title>
        <link href="https://cdn.jsdelivr.net/gh/TheoCoombes/crawlingathome-server@main/cdn/bootstrap.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<meta http-equiv="refresh" content="30">
	</head>
	<body style='margin-left: 25px; margin-right: 25px; margin-top: 25px;'>
        <h1>Crawling@Home Dashboard</h1>
        <br><br>
        <h2>Stats</h2>
        <br>
        <strong>Completion: {{ "{0:.2f}".format(completion_float) }}%</strong> ({{ completion_str }} shards completed)
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{ completion_float }}%;" aria-valuenow='{{ completion_float }}' aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <br>
        <strong>{{ "{:,}".format(total_pairs) }}</strong> image-text pairs scraped (estimate)
        <br><br>
        <strong>Estimated Time Until Completion:</strong> {{ eta }}
        <br><br><br>
        <h2>Connected Hybrid Workers - {{ "{:,}".format(gpu_clients[0]) }}</h2>
        <br>
        {% if gpu_clients[0] != 0 %}
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Shard #</th>
                    <th scope="col">Shard Progress</th>
                    <th scope="col">Jobs Completed</th>
                    <th scope="col">Owner's Nickname</th>
                    <th scope="col">Last Seen</th>
                    </tr>
                </thead>
                <tbody>
                    {% for worker in gpu_clients[1] %}
                        <tr>
                            <th scope="row"><a href="/worker/hybrid/{{ worker.display_name }}">{{ worker.display_name }}</a></th>
                            {% if worker.shard is none %}
                                <td><i>Waiting</i></td>
                            {% else %}
                                <td>{{ "{:,}".format(worker.shard.number) }}</td>
                            {% endif %}
                            <td>{{ worker.progress }}</td>
                            <td>{{ "{:,}".format(worker.jobs_completed) }}</td>
                            <td>{{ worker.user_nickname }}</td>
                            <td class="timestamp">{{ worker.last_seen }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            {% if gpu_clients[0] > 50 and not all %}
                <i>Limited view to 50 workers. <a href="/?all=true">View All</a></i><br>
            {% endif %}
        {% elif completion_float == 100.0 %}
            <p>All jobs have been completed!</p>
        {% else %}
            <p>There are no Hybrid workers currently running.</p>
        {% endif %}
        <br><br>
        
        <h2>Connected CPU Workers - {{ "{:,}".format(cpu_clients[0]) }}</h2>
        <br>
        {% if cpu_clients[0] != 0 %}
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Shard #</th>
                    <th scope="col">Shard Progress</th>
                    <th scope="col">Jobs Completed</th>
                    <th scope="col">Owner's Nickname</th>
                    <th scope="col">Last Seen</th>
                    </tr>
                </thead>
                <tbody>
                    {% for worker in cpu_clients[1] %}
                        <tr>
                            <th scope="row"><a href="/worker/cpu/{{ worker.display_name }}">{{ worker.display_name }}</a></th>
                            {% if worker.shard is none %}
                                <td><i>Waiting</i></td>
                            {% else %}
                                <td>{{ "{:,}".format(worker.shard.number) }}</td>
                            {% endif %}
                            <td>{{ worker.progress }}</td>
                            <td>{{ "{:,}".format(worker.jobs_completed) }}</td>
                            <td>{{ worker.user_nickname }}</td>
                            <td class="timestamp">{{ worker.last_seen }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            {% if cpu_clients[0] > 50 and not all %}
                <i>Limited view to 50 workers. <a href="/?all=true">View All</a></i><br>
            {% endif %}
        {% elif completion_float == 100.0 %}
            <p>All jobs have been completed!</p>
        {% else %}
            <p>There are no CPU workers currently running.</p>
        {% endif %}
        <br><br>
        
        <h2>Connected GPU Workers - {{ "{:,}".format(gpu_clients[0]) }}</h2>
        <br>
        {% if gpu_clients[0] != 0 %}
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Shard #</th>
                    <th scope="col">Shard Progress</th>
                    <th scope="col">Jobs Completed</th>
                    <th scope="col">Owner's Nickname</th>
                    <th scope="col">Last Seen</th>
                    </tr>
                </thead>
                <tbody>
                    {% for worker in gpu_clients[1] %}
                        <tr>
                            <th scope="row"><a href="/worker/gpu/{{ worker.display_name }}">{{ worker.display_name }}</a></th>
                            {% if worker.shard is none %}
                                <td><i>Waiting</i></td>
                            {% else %}
                               <td>{{ "{:,}".format(worker.shard.number) }}</td>
                            {% endif %}
                            <td>{{ worker.progress }}</td>
                            <td>{{ "{:,}".format(worker.jobs_completed) }}</td>
                            <td>{{ worker.user_nickname }}</td>
                            <td class="timestamp">{{ worker.last_seen }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            {% if gpu_clients[0] > 50 and not all %}
                <i>Limited view to 50 workers. <a href="/?all=true">View All</a></i><br>
            {% endif %}
        {% elif completion_float == 100.0 %}
            <p>All jobs have been completed!</p>
        {% else %}
            <p>There are no GPU workers currently running.</p>
        {% endif %}
        <br><br>
        <h2>Links</h2>
        <p>
            <ul>
                <br>
                <strong>Run Crawling@Home</strong>
                <li><a href="/leaderboard">Leaderboard</a></li>
                <li><a href="/install">Get Started</a></li>

                <br>
                <strong>GitHub</strong>
                <li><a href="https://github.com/TheoCoombes/crawlingathome">Client GitHub Repository</a></li>
                <li><a href="https://github.com/TheoCoombes/crawlingathome-server">Server GitHub Repository</a></li>

                <br>
                <strong>DALLE-pytorch</strong>
                <li><a href="https://discord.gg/mVcgxMPD7e">DALLE-pytorch Discord server</a></li>
                <li><a href="https://github.com/lucidrains/DALLE-pytorch">DALLE-pytorch GitHub Repository</a></li>
            </ul>
        </p>

        <br><br>

        Server Version: v3.0.0 <br>
        Latest Client Version: v1.4.0 <br><br>

        <script src="https://cdn.jsdelivr.net/gh/TheoCoombes/crawlingathome-server@main/cdn/main.js"></script>
	</body>
</html>
