<!DOCTYPE HTML>

<html>
	<head>
		<title>Crawling@Home</title>
        <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
	</head>
	<body style='margin-left: 25px; margin-right: 25px; margin-top: 25px;'>
        <h1>Crawling@Home - Install</h1>
        <br>

        <h2>Install</h2>

        <p>
            <br>
            To install Crawling@Home locally, <a href="https://github.com/TheoCoombes/crawlingathome#installation">view the GitHub repo</a>.
            <br><br>
            To run on a Google Colab instance, <a href="#">LINK COMING SOON</a>.
        </p>

        <br><br>
        <p>Made by Theo Coombes, 2021</p>
	</body>
</html>
