<!DOCTYPE HTML>

<html>
	<head>
		<title>Crawling@Home</title>
        <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
	</head>
	<body style='margin-left: 25px; margin-right: 25px; margin-top: 25px;'>
        <h1>Crawling@Home - Install</h1>
        <br>

        <h2>Install</h2>

        <p>
            Please ask on the DALLE-PyTorch discord server for links to the Crawling@Home Google Colab / local worker scripts.
	    <br><br>
	    You can find a link to join the Discord Server on the footer of the home page.
        </p>

        <br><br>
	</body>
</html>
