<!DOCTYPE HTML>

<html>
	<head>
	<title>Crawling@Home Leaderboard</title>
        <link href="https://cdn.jsdelivr.net/gh/thomaspark/bootswatch@v5/dist/darkly/bootstrap.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<meta http-equiv="refresh" content="30">
	</head>
	<body style='margin-left: 25px; margin-right: 25px; margin-top: 25px;'>
        <h1>Crawling@Home Dashboard</h1>
        <br><br>
        <h2>Leaderboard</h2>
        <br>
        {% if (leaderboard | length) != 0 %}
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Nickname</th>
                    <th scope="col">Jobs Completed</th>
	                <th scope="col">Image-Text Pairs Scraped</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user, data in leaderboard.items() %}
                        <tr>
                            <th scope="row">{{ user }}</th>
                            <td>{{ data[0] }}</td>
			                <td>{{ data[1] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>There are no people on the leaderboard - <a href="/install">be the first</a>.</p>
        {% endif %}
        <br><br>
            <a href="/">Back</a>
        <br><br>
	</body>
</html>
