<!DOCTYPE HTML>

<html>
	<head>
	<title>Crawling@Home</title>
        <link href="https://cdn.jsdelivr.net/gh/TheoCoombes/crawlingathome-server@main/cdn/bootstrap.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<meta http-equiv="refresh" content="30">
	</head>
	<body style='margin-left: 25px; margin-right: 25px; margin-top: 25px;'>
        <h1>Crawling@Home Dashboard</h1>
        <br><br>
        <h2>Worker: {{ c.display_name }}</h2>
        <br>
        <strong>Worker Type:</strong> {{ c.type }}
	    <br><br>
        <strong>First Seen:</strong> <span class="timestamp">{{ c.first_seen }}</span>
	    <br><br>
        <strong>Last Seen:</strong> <span class="timestamp">{{ c.last_seen }}</span>
        <br><br>
        <strong>Owner's Nickname:</strong> {{ c.user_nickname }}
	    <br><br>
        {% if c.shard is none %}
            <strong>Currently Working on Shard:</strong> (not currently working on a shard)
        {% else %}
            <strong>Currently Working on Shard:</strong> {{ '{:,}'.format(c.shard.number) }}
        {% endif %}
        <br><br>
        <strong>Latest Progress Update:</strong> "{{ c.progress }}"
        <br><br>
        <strong>Total Shards Completed:</strong> {{ '{:,}'.format(c.jobs_completed) }}
        <br><br><br>
	    <a href="/worker/{{ c.type.lower() }}/{{ c.display_name }}/data">JSON Format</a>
	    <br><br>
	    <a href="/">Back</a>
	
        <script src="https://cdn.jsdelivr.net/gh/TheoCoombes/crawlingathome-server@main/cdn/main.js"></script>
	</body>
</html>
