<!DOCTYPE HTML>

<html>
	<head>
	<title>Crawling@Home</title>
        <link href="https://cdn.jsdelivr.net/gh/TheoCoombes/crawlingathome-server@main/cdn/bootstrap.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<meta http-equiv="refresh" content="30">
	</head>
	<body style='margin-left: 25px; margin-right: 25px; margin-top: 25px;'>
        <h1>Crawling@Home Dashboard</h1>
        <br><br>
        <h2>Worker: {{ display_name }}</h2>
        <br>
        <strong>Worker Type:</strong> {{ type }}
	    <br><br>
        <strong>First Seen:</strong> <span class="timestamp">{{ first_seen }}</span>
	    <br><br>
        <strong>Last Seen:</strong> <span class="timestamp">{{ last_seen }}</span>
        <br><br>
        <strong>Owner's Nickname:</strong> {{ user_nickname }}
	    <br><br>
        {% if shard_number == "Waiting" %}
            <strong>Currently Working on Shard:</strong> (not currently working on a shard)
        {% else %}
            <strong>Currently Working on Shard:</strong> {{ '{:,}'.format(shard_number) }}
        {% endif %}
        <br><br>
        <strong>Latest Progress Update:</strong> "{{ progress }}"
        <br><br>
        <strong>Total Shards Completed:</strong> {{ '{:,}'.format(jobs_completed) }}
        <br><br><br>
	<a href="/">Back</a>
	<br><br>
	<i>NOTE: You can visit '<a href="/worker/{{ type.lower() }}/{{ display_name }}/data">/worker/{{ type }}/{{ display_name }}/data</a>' for the raw JSON data.</i>
        
        <script src="https://cdn.jsdelivr.net/gh/TheoCoombes/crawlingathome-server@main/cdn/main.js"></script>
	</body>
</html>
